* {
    font-family: 'Montserrat', sans-serif;
}

.tooltip-role {
    font-size: 12px;
    padding: $spacing-1;
    color: $color-white;
    border-radius: 15px;
    &.student {
        background-color: $color-green-35;
    }
    &.teacher {
        background-color: #007AFF;
    }
    &.admin {
        background-color: #9013FE;
    }
}

.card {
    background-color: #fff;
    min-height: 50px;
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

a {
    color: #22a4a7;
}

input,
textarea {
    &:focus {
        border-color: #22a4a7 !important;
        outline: 0 !important;
        box-shadow: inset 0 1px 1px rgba($color: #22a4a7, $alpha: 0.2), 0 0 8px #22a4a7 !important;
    }
}

.card-header:not(.content-center)>.c-icon:first-child {
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
}

.modal {
    &-content {
        color: $color-gray-20;
        font-size: 14px !important;
    }
    &-title {
        font-size: 14px !important;
        font-weight: 800;
    }
    &-footer {
        justify-content: center;
        border: none;
        padding-top: 0;
    }
}

.c-sidebar {
    background: $color-white;
    box-shadow: 5px 5px 15px 5px rgba($color: #000000, $alpha: .1);
    .c-sidebar-minimizer:hover,
    .c-sidebar-minimizer {
        display: none;
    }
    .c-sidebar-nav-link,
    .c-sidebar-nav-dropdown-toggle,
    .c-sidebar-nav-link .c-sidebar-nav-icon,
    .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
        color: $color-gray-10;
    }
    .c-sidebar-nav-link:hover,
    .c-sidebar-nav-dropdown-toggle:hover,
    .c-sidebar-nav-link:hover .c-sidebar-nav-icon,
    .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
        background-color: #1e909b;
        color: $color-white !important;
    }
    .c-sidebar-brand {
        background: $color-white;
    }
    .c-sidebar-nav-link.c-active,
    .c-active.c-sidebar-nav-dropdown-toggle,
    .c-sidebar-nav-link.c-active .c-sidebar-nav-icon {
        color: #1e909b;
    }
    .c-sidebar-nav-link.c-active,
    .c-active.c-sidebar-nav-dropdown-toggle {
        border-left: 5px solid #1e909b;
    }
}

.c-header {
    background-color: #1e909b;
    color: $color-white;
    .c-header-nav {
        .c-header-nav-link,
        .c-header-nav-btn,
        .c-header-nav-link:hover,
        .c-header-nav-btn:hover {
            color: $color-white;
        }
    }
}

.nav-fill {
    .nav-item,
    .nav-link {
        color: $color-white;
        font-weight: 500;
        &:hover {
            border: none;
        }
    }
    .nav-link.active {
        color: $color-white;
        border: none;
        border-bottom: 5px solid $color-green-55;
        background: transparent;
    }
}

.btn-primary {
    color: #fff;
    background-color: $color-green-45;
    border-color: $color-green-45;
    &:hover, &:active {
        background-color: $color-green-35;
        border-color: $color-green-35;
    }
}