.places-tabs {
    .nav {
        &-tabs {
            border-color: $color-gray-94;
        }
        &-item {
            margin-right: $spacing-2;
        }
        &-link {
            color: $color-green-45;
            font-weight: 600;
            padding-bottom: $spacing-3;
        }
        &-link.active {
            color: #333;
            background: none;
            border-radius: 0;
            border: 0px;
            border-bottom: 3px solid $color-green-45;
        }
        &-title {
            margin-right: $spacing-8;
            a, .nav-link.disabled {
                color: #333;
            }
        }
    }
}

.places-filter-div {
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #f0f0f0;
    .btn_novo {
        background-color: #1e909b;
        color: white;
        width: 150px;
    }
}

.places_container {
    padding: 20px;
}