// Variable overrides
$color-white: #fff;

$color-blue-15: hsl(188, 38%, 15%); // #183135
$color-blue-25: hsl(188, 38%, 25%); // #285258
$color-blue-35: hsl(188, 38%, 35%); // #37727b
$color-blue-45: hsl(188, 38%, 45%); // #47939e
$color-blue-55: hsl(188, 38%, 55%); // #61acb8
$color-blue-65: hsl(188, 38%, 65%); // #84bfc8
$color-blue-75: hsl(188, 38%, 75%); // #a7d1d7
$color-blue-85: hsl(188, 38%, 85%); // #cae3e7
$color-blue-95: hsl(188, 38%, 95%); // #edf6f7

$color-yellow-15: hsl(44, 100%, 15%); // #4d3800
$color-yellow-25: hsl(44, 100%, 25%); // #805e00
$color-yellow-35: hsl(44, 100%, 35%); // #b38300
$color-yellow-45: hsl(44, 100%, 45%); // #e6a800
$color-yellow-55: hsl(44, 100%, 55%); // #ffc21a
$color-yellow-65: hsl(44, 100%, 65%); // #ffcf4d
$color-yellow-75: hsl(44, 100%, 75%); // #ffdd80
$color-yellow-85: hsl(44, 100%, 85%); // #ffebb3
$color-yellow-95: hsl(44, 100%, 95%); // #fff8e5

$color-brown-15: hsl(30, 50%, 15%); // #392613
$color-brown-25: hsl(30, 50%, 25%); // #604020
$color-brown-35: hsl(30, 50%, 35%); // #86592d
$color-brown-45: hsl(30, 50%, 45%); // #ac7339
$color-brown-55: hsl(30, 50%, 55%); // #c68c53
$color-brown-65: hsl(30, 50%, 65%); // #d2a679
$color-brown-75: hsl(30, 50%, 75%); // #dfbf9f
$color-brown-85: hsl(30, 50%, 85%); // #ecd9c6
$color-brown-95: hsl(30, 50%, 95%); // #f9f2ec

$color-green-15: hsl(170, 96%, 17%); // #0b420e
$color-green-25: hsl(170, 96%, 25%); // #126e18
$color-green-35: hsl(170, 96%, 35%); // #199a22
$color-green-45: hsl(170, 96%, 45%); // #20c52b
$color-green-55: hsl(170, 96%, 55%); // #3adf45
$color-green-65: hsl(170, 96%, 65%); // #65e66e
$color-green-75: hsl(170, 96%, 75%); // #91ed97
$color-green-85: hsl(170, 96%, 85%); // #bdf4c1
$color-green-95: hsl(170, 96%, 95%); // #e9fbea

$color-red-15: hsl(5, 86%, 15%); // #470b05
$color-red-25: hsl(5, 86%, 25%); // #771209
$color-red-35: hsl(5, 86%, 35%); // #a6190c
$color-red-45: hsl(5, 86%, 45%); // #d52110
$color-red-55: hsl(5, 86%, 55%); // #ef3a2a
$color-red-65: hsl(5, 86%, 65%); // #f36659
$color-red-75: hsl(5, 86%, 75%); // #f69288
$color-red-85: hsl(5, 86%, 85%); // #fabdb8
$color-red-95: hsl(5, 86%, 95%); // #fde9e7

$color-black: hsl(0, 0%, 0%);   // #000000
$color-gray-10: hsl(0, 0%, 10%); // #1a1a1a
$color-gray-20: hsl(0, 0%, 20%); // #333333
$color-gray-30: hsl(0, 0%, 30%); // #4d4d4d
$color-gray-40: hsl(0, 0%, 40%); // #666666
$color-gray-50: hsl(0, 0%, 50%); // #808080
$color-gray-60: hsl(0, 0%, 60%); // #999999
$color-gray-70: hsl(0, 0%, 70%); // #b3b3b3
$color-gray-80: hsl(0, 0%, 80%); // #cccccc
$color-gray-90: hsl(0, 0%, 90%); // #e6e6e6
$color-gray-92: hsl(0, 0%, 92%); // #ebebeb
$color-gray-94: hsl(0, 0%, 94%); // #f0f0f0
$color-gray-96: hsl(0, 0%, 96%); // #f5f5f5
$color-white: hsl(0, 0%, 100%); // #ffffff

// COLOR PURPLE
$color-purple-0: hsl(255, 79%, 0%); // #000000
$color-purple-10: hsl(255, 79%, 10%); // #0f052e
$color-purple-20: hsl(255, 79%, 20%); // #1f0b5b
$color-purple-30: hsl(255, 79%, 30%); // #2e1089
$color-purple-40: hsl(255, 79%, 40%); // #3e15b7
$color-purple-50: hsl(255, 79%, 50%); // #4d1be4
$color-purple-60: hsl(255, 79%, 60%); // #7148ea
$color-purple-70: hsl(255, 79%, 70%); // #9577EF
$color-purple-80: hsl(255, 79%, 80%); // #b8a4f4
$color-purple-90: hsl(255, 79%, 90%); // #dbd1fa